.set {
    height: 100%;
    box-sizing: border-box;
    padding-top: 88px;
    background: #f7f7f7;
    .weui-switch:checked,
    .weui-switch-cp__input:checked~.weui-switch-cp__box {
        border-color: #ff6419;
        background-color: #ff6419;
    }
    .main {
        .tit {
            height: 88px;
            font-size: 28px;
            padding-top: 40px;
            color: #999;
            padding-left: 33px;
            box-sizing: border-box;
        }
        .sel_item {
            height: 120px;
            line-height: 120px;
            padding: 0 18px 0 33px;
            background: #fff;
            font-size: 32px;
            color: #333;
            .sel_true {
                background-color: #ff6419;
                border: solid 4px #ff6419;
            }
            .sel_false {
                background-color: #ffffff;
                border: solid 4px #e3e3e3;
            }
            .sel_false,
            .sel_true {
                float: right;
                padding: 0 1px;
                margin-top: 32px;
                position: relative;
                width: 92px;
                height: 56px;
                border-radius: 34px;
                .qiu {
                    display: inline-block;
                    width: 52px;
                    height: 52px;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.19);
                    border-radius: 24px;
                    transition: all 0.2s linear;
                    position: absolute;
                    top: 2px;
                    left: 38px;
                }
                .qiu_active {
                    left: 38px;
                }
                .qiu_false {
                    left: 3px;
                }
            }
        }
    }
}